
html {
    /* box-sizing: border-box; */
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #fed766;
}
/* Styling of nav starts here */
nav {
    background: #11122b;
    width: 100%;
}

ul {
    width: 100%;
    margin: 0 auto;
    padding: 0;
}
ul li {
    list-style: none;
    display: inline-block;
    padding: 15px;
  
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
    
}

ul li a:hover {
    
    color: wheat;
}


#brand{
    font-size: 1.2rem;
    font-family: 'Monoton', cursive;
    font-weight: 300;
    color: wheat;
    letter-spacing: 3px;
}
#quote{
    margin-right: 500px;
}
span {
    color: #fff;
    font-family: 'Marck Script', cursive;
}
#brand:hover {
    color: #fff;
}
/* Styling of nav ends here */

/* Styling of homepage container starts here */
.container {
    height: 92vh; 
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/img.jpg);
    background-position: center;
    background-size: cover;
}
.container p {
    color: #487d05;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    padding: 10px;
    font-size:1.5em;
    letter-spacing: 1px;
}
/* Styling of homepage container ends here */


/* LOGIN FORM STYLE starts here */
.login-in{
    max-width: 350px;
    margin: 100px auto;
    padding: 15px;
    box-sizing: border-box;
    color: #11122b;
    font-size: 16px;
    font-family: 'Raleway', sans-serif;
}
#spacer {
    margin-bottom: 100px;
}
.login-in h1{
  text-align: center;
  text-transform: uppercase;
  color: #11122b;
  font-size: 18px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
input[type=email], input[type=text], input[type=number], select, input[type=password] {
  outline: none;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000;
  padding: 6px 6px 5px 5px;
  width: 100%;
  border: 1px solid #11122b;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-top: 8px;
  box-shadow: 0 0 20px #000000b3;
  border-radius: 10px;
}


input[type=submit] {
  width: 100%;
  font-weight: bold;
  background: #11122b;
  border: none;
  margin-top: 10px;
  outline: none;
  letter-spacing: 1px;
  font-size: 15px;
  padding: 14px 0;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
}

a {
 color: #11122b;
 font-size: 14px;
 letter-spacing: 1px;
 font-weight: bold;
}
  


/* media query */
@media(max-width: 768px) {
    
    ul {
        width: 100%;
        display: block;
    }
    ul li{
        display: block;
        text-align: left;
    }

    input[type=submit] {
        width: 100%;
    }
    .login-in{
        max-width: 350px;
        margin: 250px auto;
        padding: 10px;
       
        box-sizing: border-box;
        color: #11122b;
        font-size: 12px;
        font-family: 'Raleway', sans-serif;
    }
    input[type=email], input[type=text], input[type=number], select, input[type=password] {
        outline: none;
        font-size: 12px;
        letter-spacing: 1px;
        color: #000;
        padding: 4px 4px 3px 3px;
        width: 100%;
        border: 1px solid #11122b;
        box-sizing: border-box;
        margin-bottom: 10px;
      }
    
}